@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Variáveis */
:root {
    --azul-escuro: #2c3d5b;
	--azul-escuro-hover: rgb(1, 30, 80);
    --verde-forte: #14cca7;
	--verde-forte-hover: #09ac8b;
    --verde-fraco: #9ed4c9;
	--branco: #fff;
	--preto: #000;

	--roboto: 'Roboto';
	--montserrat: 'Montserrat';
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html,
body {
    font-family: var(--roboto);
	overflow-x: hidden;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}
.container {
    max-width: 1200px;
	margin: 0 auto;
	position: relative;
	min-height: 50vh;
}
.container-page-interna {
    width: 80%;
    position: relative;
    min-height: 50vh;
    margin: 0 auto;
    margin-top: 2rem;
}
.row {
	position: relative;
	display: flex;
}
.justify-center {
    justify-content: center;
}
.justify-space-between {
    justify-content: space-between;
}
.col {
	display: flex;
	flex-direction: column;
}
.col-3 {
	display: flex;
	flex-direction: column;
    width: 30%;
}
.col-4 {
	display: flex;
	flex-direction: column;
    width: 25%;
}
.width-50 {
	width: 50%;
}
.width-100 {
	width: 100%;
}
.mg-0 {
	margin: 0rem !important;
}
.mg-bt-05 {
	margin-bottom: 0.5rem;
}
.mg-bt-1 {
	margin-bottom: 1rem;
}
.mg-bt-2 {
	margin-bottom: 2rem;
}
.mg-bt-3 {
	margin-bottom: 3rem;
}
.mg-bt-4 {
	margin-bottom: 4rem;
}
.mg-bt-5 {
	margin-bottom: 5rem;
}
.mg-bt-6 {
	margin-bottom: 6rem;
}
.mg-rgt-1 {
    margin-right: 1rem;
}
.mg-rgt-2 {
    margin-right: 2rem;
}
.mg-rgt-3 {
    margin-right: 3rem;
}
.btn {
	color: var(--branco);
	border: 0;
	width: 180px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	text-decoration: none;
	margin: 0 1rem;
	transition: ease-in-out 0.5s;
}
.btn-acao {
	background-color: var(--azul-escuro);
	box-shadow: 0 3px var(--azul-escuro-hover);
}
.btn-acao:hover {
	background-color: var(--azul-escuro-hover);
}
.btn-redirect {
	background-color: var(--verde-forte);
	box-shadow: 0 3px var(--verde-forte-hover);
}
.btn-redirect:hover {
	background-color: var(--verde-forte-hover);
}
.faixa-branca {
    background-color: var(--branco);
    position: absolute;
    width: 200vw;
    height: 30%;
    left: 0;
    bottom: -27px;
    transform: rotate(-5deg);
	z-index: 1;
}
/* Boas Vindas */ 
section.boas-vindas {
	background-color: var(--azul-escuro);
    position: relative;
    overflow: hidden;
}
section.boas-vindas .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
	z-index: 2;
}
section.boas-vindas .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
}
section.boas-vindas .textos {
    display: flex;
    align-items: center;
    height: 40vh;
}
section.boas-vindas .textos .borda-branca {
    height: 100%;
    border: 5px solid var(--branco);
    margin-right: 2rem;
}
section.boas-vindas .textos h2 {
    font-size: 7vh;
    margin: 0;
    color: var(--branco);
    font-family: var(--montserrat);
    font-weight: 500;
    font-style: italic;
}
section.boas-vindas .caixa-certificados {
    height: 400px;
}
section.boas-vindas .caixa-certificados img {
    width: 100%;
    height: 100%;
}
section.boas-vindas .buttons {
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 7%;
    right: 0;
}
/* Media Querys*/
@media only screen and (min-width: 2000px){
    section.boas-vindas .container {
        max-width: 1500px;
    }
    section.boas-vindas .content {
        margin-bottom: 12rem;
    }
    section.boas-vindas .caixa-certificados {
        height: 600px;
    }
}
@media only screen and (max-width: 1400px){
    section.boas-vindas .container {
        max-width: 1070px;
    }
}
/* Login */ 
section.login-page {
	background-color: var(--azul-escuro);
    position: relative;
    overflow: hidden;
}
section.login-page .title-page {
	position: absolute;
    top: 0;
    width: 150px;
	border-bottom: 2px solid var(--branco);
}
section.login-page .title-page h2{
	font-family: var(--montserrat);
	color: var(--branco);
	font-size: 4vh;
	font-weight: 500;
	margin-left: 3rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
section.login-page .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
	z-index: 3;
}
section.login-page .container form#form-login {
	width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
	margin-bottom: 7rem;
}
section.login-page .container form#form-login label {
	color: var(--branco);
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 0.5rem;
}
section.login-page .container form#form-login input {
	height: 40px;
	border-radius: 5px;
	border: 0;
	padding-left: 10px;
	font-family: var(--roboto);
	font-size: 20px;
}
section.login-page .buttons {
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 7%;
    right: 0;
}
/* Media Querys*/
@media only screen and (min-width: 2000px){
    section.login-page .container {
        max-width: 1500px;
    }
    section.login-page .content {
        margin-bottom: 12rem;
    }
    section.login-page .caixa-certificados {
        height: 600px;
    }
}
@media only screen and (max-width: 1400px){
    section.login-page .container {
        max-width: 1070px;
    }
}
/* CADASTRO */ 
section.cadastro-page {
	background-color: var(--azul-escuro);
    position: relative;
    overflow: hidden;
}
section.cadastro-page .title-page {
	position: absolute;
    top: 0;
    width: 150px;
	border-bottom: 2px solid var(--branco);
}
section.cadastro-page .title-page h2{
	font-family: var(--montserrat);
	color: var(--branco);
	font-size: 4vh;
	font-weight: 500;
	margin-left: 3rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
section.cadastro-page .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
	z-index: 3;
}
section.cadastro-page .container form#form-cadastro {
	width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
	margin-bottom: 7rem;
}
section.cadastro-page .container label {
	color: var(--branco);
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 0.5rem;
}
section.cadastro-page .container input[type=radio] {
    transform: scale(1.1);
    margin-right: 0.5rem;
}
section.cadastro-page .container form#form-cadastro label {
	color: var(--branco);
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 0.5rem;
}
section.cadastro-page .container form#form-cadastro input {
	height: 40px;
	border-radius: 5px;
	border: 0;
	padding-left: 10px;
	font-family: var(--roboto);
	font-size: 20px;
}
section.cadastro-page .container form#form-cadastro select {
	height: 40px;
	border-radius: 5px;
	border: 0;
	padding-left: 10px;
	font-family: var(--roboto);
	font-size: 20px;
}
section.cadastro-page .buttons {
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 7%;
    right: 0;
}
section.cadastro-page .coletion-cnpj {
    display: none;
}
/* Media Querys*/
@media only screen and (min-width: 2000px){
    section.cadastro-page .container {
        max-width: 1500px;
    }
    section.cadastro-page .content {
        margin-bottom: 12rem;
    }
    section.cadastro-page .caixa-certificados {
        height: 600px;
    }
}
@media only screen and (max-width: 1400px){
    section.cadastro-page .container {
        max-width: 1070px;
    }
}
/* CADASTRO CERTIFICADOS */ 
section.cadastro-certificados-page {
	background-color: var(--branco);
    position: relative;
    overflow: hidden;
    display: flex;
}
section.cadastro-certificados-page .title-page {
    font-weight: 300;
    font-family: var(--roboto);
}
section.cadastro-certificados-page .title-page h2 {
    font-weight: 300;
    font-family: var(--roboto);
    margin-bottom: 2rem;
    font-size: 24px
}
section.cadastro-certificados-page label {
    font-size: 12px;
    color: #2a2a2a;
    margin-bottom: 3px;
    font-weight: 300;
}
section.cadastro-certificados-page input {
    width: 200px;
    height: 30px;
    border-radius: 3px;
    padding-left: 10px;
    border: 2px solid #2C3D5B;
}
/* CERTIFICADOS */ 
section.page-certificados .container {
    width: 100%;
    max-width: 1150px;
}
section.page-certificados .title-page {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
section.page-certificados .title-page h2 {
    font-weight: 300;
    font-family: var(--roboto);
    margin: 0;
    font-size: 24px
}
section.page-certificados table {
    width: 100%;
    border-collapse: collapse;
}
section.page-certificados table thead {
    height: 50px;
    background-color: var(--azul-escuro);
}
section.page-certificados table thead th {
    color: #fff;
    text-align: initial;
    padding: 5px;
    font-weight: 400;
}
section.page-certificados table tbody tr {
    border-bottom: 1px solid #C9C9C9;
    height: 50px;
    padding: 5px;
}
section.page-certificados table td{
    padding: 5px;
    padding-left: 10px;
}
/* VALIDAÇÃO DE CERTIFICADOS */ 
section.page-validacao-certificados .container {
    width: 100%;
    max-width: 1150px;
}
section.page-validacao-certificados .title-page {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
section.page-validacao-certificados .title-page h2 {
    font-weight: 300;
    font-family: var(--roboto);
    margin: 0;
    font-size: 24px
}
section.page-validacao-certificados table {
    width: 100%;
    border-collapse: collapse;
}
section.page-validacao-certificados table thead {
    height: 50px;
    background-color: var(--azul-escuro);
}
section.page-validacao-certificados table thead th {
    color: #fff;
    text-align: initial;
    padding: 5px;
    font-weight: 400;
}
section.page-validacao-certificados table tbody tr {
    border-bottom: 1px solid #C9C9C9;
    height: 50px;
    padding: 5px;
}
section.page-validacao-certificados table td{
    padding: 5px;
    padding-left: 10px;
}
/* PERFIL */ 
section.page-perfil .div-img {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
section.page-perfil .div-img img {
    width: 80px;
}
section.page-perfil .informacoes {
    margin: 0 auto;
    width: 60%;
}
section.page-perfil .informacoes .div-informacao {
    border-bottom: 1px solid #C9C9C9;
    margin-bottom: 1rem;
}
section.page-perfil .informacoes .div-informacao .label {
    font-size: 12px;
    margin-bottom: 5px;
}
section.page-perfil .informacoes .div-informacao .informacao {
    margin: 0;
    margin-bottom: 10px;
    padding-left: 5px;
    font-weight: 500;
}
/* Sidebar */ 
.side-bar {
    background-color: var(--azul-escuro);
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
}
.side-bar .topo {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    margin-top: 1rem;
}
.side-bar .topo img {
    margin-right: 1rem;
}
.side-bar .topo p {
    font-size: 18px;
    color: var(--branco);
    margin: 0;
}
.side-bar .navigator {
    margin-top: 2rem;
}
.side-bar .navigator ul {
    list-style: none;  
    padding-left: 0rem;
}
.side-bar .navigator ul li {
    margin-bottom: 1.5rem;
    width: 100%;
}
.side-bar .navigator ul li a {
    color: var(--branco);
    text-decoration: none;
    width: 91%;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding-left: 1rem;
    box-shadow: inset 0 0 0 0 var(--branco);
}
.side-bar .navigator ul li a:hover {
    box-shadow: inset 150px 0 0 0 var(--branco);
    color: var(--azul-escuro);
}

